section.playlist#wtmpm
  // include ./letters/p.html
  .wrapper
    .camera
      img(src="assets/img/playlist.png" alt="Playlist")
    .blurb
      h2 When The Music Pierces Me
      p
      iframe.soundcloud(
        width="100%",
        height=450,
        scrolling=no,
        frameborder=no,
        src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/277823972&amp;color=%239c9c9c&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true"
      )
      .social-share-icons
        .label Share:
        a.social-share-icon(href="https://twitter.com/share?url=https%3A//soundcloud.com/bsimemusic/sets/when-the-music-pierces-me&text=Have%20you%20heard%20%E2%80%98Black%20Skies%20In%20My%20Eyes%E2%80%99%20by%20BSIME%20on%20%23SoundCloud%3F%20%23np&related=soundcloud") #[i.fab.fa-twitter]
        a.social-share-icon(href="https://www.facebook.com/sharer/sharer.php?u=https%3A//soundcloud.com/bsimemusic/sets/when-the-music-pierces-me") #[i.fab.fa-facebook]
        a.social-share-icon(href="http://vk.com/share.php?url=https%3A//soundcloud.com/bsimemusic/sets/when-the-music-pierces-me") #[i.fab.fa-vk]
        a.social-share-icon(href="https://plus.google.com/share?url=https%3A//soundcloud.com/bsimemusic/sets/when-the-music-pierces-me") #[i.fab.fa-google]
