doctype html
html(lang="en")
  head
    title BSIME
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="author" content="Serabass")
    meta(name="description" content="BSIME")
    meta(name="keywords" content="bsime, electronic, music, chillout, songs")
    meta(property="og:image" content="assets/img/logo.png")
    link(rel="stylesheet" href="assets/css/main.css")
    script(defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js")
      // Global site tag (gtag.js) - Google Analytics
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-48357890-4')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-48357890-4');
  body
    .powered
      | powered by&nbsp;
      a(href="http://serabass.net" target="_blank") Serabass
    .top-menu
      ul
        li
          a(href="#about") About me
        li
          a(href="#bsime") Listen online
        li
          a(href="#contact") Contact me

    include blocks/info.jade
    include blocks/albums.jade
    section#full-slide.hidden
      // include ./letters/o.html
      ul(class="banner")
        li(class="active")
        li
        li
      i(class="icon-chevron-thin-left prev")
      i(class="icon-chevron-thin-right next")
    section#featured.hidden
      // include ./letters/l.html
      .wrapper
        .blurb
          h2 #[strong Ut enim] ad minim
          p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
        .featured
          img(src="assets/img/featured.jpg" alt="Featured")
    section#three-slide.hidden
      // include ./letters/l.html
      .wrapper
        ul.slider
          li.back
            img(src="assets/img/three-slide/thumb-1.jpg")
          li.current
            img(src="assets/img/three-slide/thumb-2.jpg")
          li.front
            img(src="assets/img/three-slide/thumb-3.jpg")
          li
            img(src="assets/img/three-slide/thumb-4.jpg")
      i.icon-chevron-thin-left.prev
      i.icon-chevron-thin-right.next
    include blocks/contact.jade

    #player

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")
    script window.jQuery || document.write('<script src="assets/js/vendor/jquery-2.2.4.min.js"><\/script>')
    script(src="assets/js/functions.js")
    script(src='https://www.google.com/recaptcha/api.js')
    script(src="assets/js/vendor/webamp.bundle.min.js")
    script(src="assets/js/webamp.js")