section#contact
  // include ./letters/o.html
  .wrapper
    .blurb
      h2 #[strong Say]&nbsp;
        span#hello Hello
      p If you are the musician or singer, you can contact me for collaboration.
      p You can also write me a message to&nbsp;
        a.email(href="#")
    form
      input(type="email" placeholder="your@email.com")
      input(type="text" placeholder="Subject")
      textarea(placeholder="Message")
      input(type="submit" value="Send Message")
  p.copyright &copy; BSIME 2018
