section#contact
  // include ./letters/o.html
  .wrapper
    .blurb
      h2#hello #[strong Say Hello]
      p If you are a musician or a singer, you can contact me for collaboration.
      p You can also write me a message to&nbsp;
        a.email(href="#")
    form#contact-form(method="POST" action="/mail.php")
      input(type="email" name="email" placeholder="your@email.com")
      input(type="text" name="subject" placeholder="Subject")
      textarea(placeholder="Message" name="message")
      // div(class="g-recaptcha" data-sitekey="6Lc9PD8UAAAAAHjDkjOD6YMX5PvvH26etuszukM_")
      input(type="submit" value="Send Message")
  p.copyright &copy; BSIME 2018
