section#about
  // include ./letters/a.html
  header
  .wrapper
    .welcome
      // h1 #[strong BSIME]
      p.info
        | Hi! My name is Sergey.
        | I'm a musician, developer and simply good guy.
        | You can follow me at these social pages:
      .socials
        a.icon(href="https://soundcloud.com/bsimemusic" target="_blank")
          i.fab.fa-soundcloud
        a.icon(href="https://vk.com/bsime" target="_blank")
          i.fab.fa-vk
      p.info
        | or listen all the tracks online right from this page (see below)
      p.info
        | or share this page to your socials
      .social-share-icons
        a.social-share-icon(href="https://twitter.com/share?url=http%3A//bsime.net&text=Listen BSIME") #[i.fab.fa-twitter]
        a.social-share-icon(href="https://www.facebook.com/sharer/sharer.php?u=http%3A//bsime.net") #[i.fab.fa-facebook]
        a.social-share-icon(href="http://vk.com/share.php?url=http%3A//bsime.net") #[i.fab.fa-vk]
        a.social-share-icon(href="https://plus.google.com/share?url=http%3A//bsime.net") #[i.fab.fa-google]

    .logo
      img(src="assets/img/logo.png" alt="Logo")
