// This is the single file output by sass. It is intended to ONLY @import other files.

.powered
  position: fixed
  right: 60px
  top: 0
  font-family: 'Roboto', sans-serif
  height: 40px
  line-height: 40px
  padding: 0px 19px
  text-align: right
  background: #4d90fe
  color: white
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3)
  border-radius: 0px 0px 2px 2px
  z-index: 1000

.powered a
  color: white

.clearfix
  clear: both

p
  font-size: 21px

.hidden
  display: none

// 1 - TOOLS
@import 'font-awesome/font-awesome'
@import '1-tools/fonts'
@import '1-tools/normalize'
@import '1-tools/icon-font'
@import '1-tools/vars'
@import '1-tools/mixins'


// 2 - BASICS
@import '2-basics/body-element'
@import '2-basics/selection-colors'
@import '2-basics/typography'


// 3 - Modules
@import '3-modules/letters'
@import '3-modules/nav'


// 4 - Sections
@import '4-sections/hero'
@import '4-sections/about'
@import '4-sections/full-slide'
@import '4-sections/featured'
@import '4-sections/three-slide'
@import '4-sections/contact'

@import 'social-share.sass'
@import 'logo.sass'

a
  color: $black

iframe.soundcloud
  border: none

#player
  z-index: 9999
  width: 100px
  height: 100px
  overflow: visible
  position: absolute
  top: 0
  left: 0
